* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
    width: 100%;
}

input {
    border: unset;
    outline: unset;
    background: transparent;
    border-radius: 2.5px;
}

input:first-of-type {
    border: 2px solid slategray;
    width: 65%;
    height: 45px;
    padding: 1rem 1.5rem;
    border-radius: 2.75px;
}

input:nth-of-type(2) {
    border: 2px solid seagreen;
    width: 65%;
    height: 45px;
    padding: 1rem 1.5rem;
    border-radius: 2.75px;
}

input:nth-of-type(3) {
    border: 2px solid orangered;
    width: 65%;
    height: 45px;
    padding: 1rem 1.5rem;
    border-radius: 2.75px;
}

input:nth-of-type(4) {
    height: 50px;
    border: 2px slategray solid;
    width: 80%;
    padding: 1rem 1.5rem;
    border-radius: 3.75px;
}

input:nth-of-type(5) {
    border: 2px solid gray;
    width: 50%;
    height: 35px;
    padding: 1rem 1.5rem;
    border-radius: 2.5px;
}

input:nth-of-type(6) {
    border: 2px solid rgb(143, 140, 140);
    width: 65%;
    height: 45px;
    padding: 1rem 1.5rem;
    border-radius: 2.75px;
    background-color: rgb(244, 239, 239);
    font-size: 18px;
    opacity: .55;
}
