* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0F0D0E;
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    padding: 1rem;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #FCBA28;
}

span {
    color: #F9F4DA;
}