<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bare bones layout
    </title>
    <meta name="description" content="Little lemon is a Meta owned
    virtual restaurant">
    <meta name="author" content="your site name">
    <!-- OG -->
    <meta property="og:title" content="A brief description">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://littlelemon">
    <meta property="og:description" content="Little lemon is a Meta owned
    virtual restaurant">
    <meta property="og:image" content="image.png">
    <meta property="og:locale" content="en_US">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- CSS file -->
    <link rel="stylesheet" href="css/style.css">
    <!-- JS -->
    <script src="js/script.js" defer></script>
</head>

<body>
    <header>
        <a href="/">LOGO</a>
    </header>
    <nav>
        <ul>
            <li><a href=""></a></li>
        </ul>
    </nav>
    <main>
        <h1>Heading</h1>
    </main>
    <footer>
        <p>&copy;</p>
    </footer>
</body>

</html>