@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Set the body to use flexbox to push footer down */
main {
    display: grid;
    grid-template-columns: 70% 1fr 2fr auto 12%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header header"
        "nav main main aside aside"
        "footer footer footer footer footer";
    flex: 1;
    /* This ensures main takes up available space */
}

header {
    grid-area: header;
    padding: 2.5rem;
    text-align: center;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    margin: auto;
}