* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
    margin: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

img {
    display: block;
    object-fit: cover;
}

header img {
    width: 50%;
    margin: auto;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

footer img {
    width: 15%;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

section {
    display: flex;
}

article {
    flex: 1;
}